{% extends "main.html" %}
{% block css %}
<script>
function checkaction(t){
	if (t == 1){
		document.form.action = "/blog/edit";
	}else{
		document.form.action = "/blog/del";
	}
	form.submit(); 
}
</script>
{% end %}
{% block content %}
<div class="row-fluid">
	<div class="span12 block">
	<div class="span1"></div>
		<div class="span10">
			<center><h3 class="sub-header">{{ data['title'] }}</h3></center>
			<p style="text-align: right;">最后修订时间: {{ data['ctime'] }}</p>
			<hr />
			<p>分类:&nbsp;&nbsp;<a href="#">{{ data['class'] }}</a></p>
			<div style="word-wrap:break-word;word-break:break-all; word-wrap:break-word;">
			{% for i in data['content'] %}
				<p>{% raw i %}</p>
			{% end %}
			</div>
			<p style="text-align: right;">{{ data['email'] }}</p>
			<center><a href="#" class="icon-thumbs-up"></a><span class="badge badge-info">1</span>&nbsp;&nbsp;
			<a href="#" class="icon-thumbs-down"></a><span class="badge badge-warning">1</span></center>
		</div>
	<div class="span1"></div>
	</div>
</div>
{% if user == data['email'] %}
<div class="row-fluid">
	<div class="span1"></div>
	<div class="span10">
		<form action="" method="get" align="right" name="form">
            {% raw xsrf_form_html() %}
			<input type="hidden" name="blog_id" value="{{ data['id'] }}">
			<button class="btn" name="edit" onclick="checkaction(1);"><i class="icon-pencil icon-blue"></i> 修改</button>
			<button class="btn" name="del" onclick="checkaction(0);"><i class="icon-remove icon-red"></i> 删除</button>
		</form>
	</div>
	<div class="span1"></div>
</div>
{% end %}
{% end %}
{% block script %}
{% end %}